<%= search_form_for @q do |f| %>
    <div class='form-group d-flex mt-5 mb-5'>
      <%= f.search_field :company_cont, placeholder: '店舗名で検索', class: 'form-control' %>
      <%= f.submit '検索', class: 'btn btn-info' %>
    </div>
<% end %>

<% @owners.each do |owner| %>
  <div class='mt-5 text-center border'>
    <% if owner.image.attached? %>
      <div><%= image_tag owner.image, class: 'owner-image-index mt-3' %></div>
    <% else %>
      <div><%= image_tag 'cafe.jpeg', class: 'owner-image-index mt-3' %></div>
    <% end %>
    <% if owner.title.present? %>
      <h3 class='mt-3'><%= owner.title %></h3>
    <% else %>
      <h3 class='mt-3'>募集タイトルはまだありません</h3>
    <% end %>
    <p><%= owner.company %><p>
    <p><%= link_to "#{owner.company}の求人をみる", owner_path(owner) %><p>
  </div>
<% end %>
