<div class='mt-3'></div>
<% if @owner.image.attached? %>
  <div><%= image_tag @owner.image, class: 'owner-image-show mt-3' %></div>
<% else %>
  <div><%= image_tag 'cafe.jpeg', class: 'owner-image-show mt-3' %></div>
<% end %>
<% if @owner.title.present? %>
  <h3 class='mt-3'><%= @owner.title %></h3>
<% else %>
  <h3 class='mt-3'>募集タイトルはまだありません</h3>
<% end %>
<h5 class='mt-3'><%= @owner.company %></h5>

<table class="table table-striped mt-5 mb-4">
  <tbody>
    <tr>
      <th scope="row">こんな事やっています</th>
      <% if @owner.about %>
        <td><%= @owner.about %></td>
      <% else %>
        <td>未設定です</td>
      <% end %>
    </tr>
    <tr>
      <th scope="row">店舗紹介</th>
      <% if @owner.introduce %>
        <td><%= @owner.introduce %></td>
      <% else %>
        <td>未設定です</td>
      <% end %>
    </tr>
    <tr>
      <th scope="row">こんなバリスタ探してます</th>
      <% if @owner.wanted %>
        <td><%= @owner.wanted %></td>
      <% else %>
        <td>未設定です</td>
      <% end %>
    </tr>
  </tbody>
</table>

<% if current_user %>
  <%= link_to '面談を申し込む', "/owners/#{@owner.id}/contact", data: { confirm: "#{@owner.company}さんに面談を申し込みます。よろしいですか？" }, class: 'btn btn-primary' %>
<% end %>
