<div class='text-center mt-5'>
  <% if @user.image.attached? %>
    <%= image_tag @user.image, class: "border border-dark barista-image" %>
  <% else %>
    <% if @user.sex == '男' %>
      <%= image_tag 'job_barista_man.png', class: "border border-dark barista-image" %>
    <% else %>
      <%= image_tag 'job_barista_woman.png', class: "border border-dark barista-image" %>
    <% end %>
  <% end %>
</div>

<h3 class='text-center mt-5 mb-5'><%= @user.name %></h3>

<table class="table table-striped mb-5">
  <tbody>
    <tr>
      <th scope="row">基本情報</th>
      <td>性別: <%= @user.sex %> | 生年月日: <%= @user.birthday %></td>
    </tr>
    <tr>
      <th scope="row">紹介文</th>
      <% if @user.about.present? %>
        <td><%= @user.about %></td>
      <% else %>
        <td>紹介文はまだありません。</td>
      <% end %>
    </tr>
    <tr>
      <th scope="row">やってみたいこと</th>
      <% if @user.want.present?  %>
        <td><%= @user.want %></td>
      <% else %>
        <td>やってみたいことはまだありません。</td>
      <% end %>
    </tr>
    <tr>
      <th scope="row">職歴</th>
      <% if @user.history.present?  %>
        <td><%= @user.history %></td>
      <% else %>
        <td>職歴はまだありません。</td>
      <% end %>
    </tr>
    <tr>
      <th scope="row">スキル</th>
      <% if @user.skills.present?  %>
        <td><%= @user.skills %></td>
      <% else %>
        <td>スキルはまだありません。</td>
      <% end %>
    </tr>
    <tr>
      <th scope="row">学歴</th>
      <% if @user.education.present?  %>
        <td><%= @user.education %></td>
      <% else %>
        <td>学歴はまだありません。</td>
      <% end %>
    </tr>
    <tr>
      <th scope="row">言語</th>
      <% if @user.language.present?  %>
        <td><%= @user.language %></td>
      <% else %>
        <td>言語はまだありません。</td>
      <% end %>
    </tr>
    <tr>
      <th scope="row">資格</th>
      <% if @user.qualification.present? %>
        <td><%= @user.qualification %></td>
      <% else %>
        <td>資格はまだありません。</td>
      <% end %>
    </tr>
    <tr>
      <th scope="row">受賞歴</th>
      <% if @user.aword.present?  %>
        <td><%= @user.aword %></td>
      <% else %>
        <td>受賞歴はまだありません。</td>
      <% end %>
    </tr>
  </tbody>
</table>

<% if current_owner %>
  <%= link_to '面談を提案する', "/users/#{@user.id}/contact", data: { confirm: "#{@user.name}さんを面談に誘います。よろしいですか？" }, class: 'btn btn-primary mb-5' %>
<% end %>
