<h2 class='mt-5 mb-5'>３０秒でアカウント登録（無料）</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <% if resource.errors.any? %>
    <div>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :name, '名前' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :sex, '性別' %>
    <label class='ml-3 mr-2'><%= f.radio_button :sex, '男', class: 'form-check-label' %> 男性</label>
    <label><%= f.radio_button :sex, '女', class: 'form-check-label' %> 女性</label>
  </div>
  <div class='form-group'>
    <%= f.label :birthday, '生年月日' %>
    <%= f.date_select :birthday, use_month_numbers: true, prompt: "--", start_year: 2005, end_year:1980, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :email, 'メールアドレス' %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :password_confirmation, 'パスワード（確認）' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <%= f.submit '登録する', class: 'btn btn-primary mt-2 mb-3' %>
<% end %>

<%= render "users/shared/links" %>
